body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 209, 209);
}

.game-board {
  background-color: black;
  width: fit-content;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-auto-rows: 100px;
  gap: 2px;
  margin: 10px;
  border-radius: 16px;
  overflow: auto;
}

.game-dot {
  width: 100px;
  display: inline-block;
  height: 100px;
  background-color: #fff;
  border: 0;
  font-size: 66px;
  transition: 0.125s;
}

.game-dot:hover {
  background-color: #d8e0e7;
  transition: 0.125s;
}

.game-dot:disabled {
  color: black;
}

.hide {
  display: none;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h3 {
  font-size: 36px;
}

.buttons,
input {
  background-color: white;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  margin: 20px;
  transition: 0.25s;
}

.buttons:hover {
  transform: scale(1.1);
  transition: 0.125s;
}